@model DayExpenses

<tr ng-repeat-start="check in pagedChecks[currentPage] | filter:search" style="height: 60px;">
    <td>
        <i class="bi bi-plus-square-fill fs-5" type="button" data-bs-toggle="collapse" ng-click="getCollapseIcon($event)"
                data-bs-target="#collapseExample{{check.Id}}" aria-expanded="false" aria-controls="collapseExample">
        </i>
    </td>
    <td class="text-nowrap">
        {{check.Location}}
    </td>
    <td class="text-nowrap">
        <div id="check-{{check.Id}}-Sum">
            {{check.Sum | currency : '₴'}}
        </div>
    </td>
    <td class="text-nowrap">
        {{check.Payer}}
    </td>
    <td>
        <div class="d-flex justify-content-end">
            <div class="btn-group" role="group">
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        ng-click="showModalForCheckEdit(check.Id)">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        ng-click="showModalForCheckDelete(check.Id)">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </td>
</tr>
<tr ng-repeat-end>
    <td colspan="5">
        <div class="collapse" id="collapseExample{{check.Id}}">
            <div class="card card-body dark-blue-1 border-primary" ng-controller="ItemsCtrl" ng-init="itemCollection = getCheckItems(check.Id)">
                <div class="container-fluid p-3 text-white">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            ng-click="showModalForItemCreate(check.Id, check.DayExpensesId)">
                        <i class="bi bi-plus-circle"></i> Add item
                    </button>
                </div>
                <div class="text-white text-center pt-4" ng-if="check.Items.length == 0">
                    <h2>No data to display</h2>
                    <h5 class="p-3">Try to add new items</h5>
                </div>
                <div class="d-flex justify-content-end pb-lg-2 p-3" ng-if="check.Items.length > 0">
                    <div class="col-12 col-lg-3">
                        <div class="input-group">
                            <span class="input-group-text bi bi-search bg-transparent text-white" id="basic-addon1"></span>
                            <input ng-model="$parent.itemSearchText" ng-change="search(itemCollection)" class="form-control bg-transparent text-white" type="search" aria-describedby="basic-addon1" placeholder="Search for..." />
                        </div>
                    </div>
                </div>
                <div class="table-responsive fix-table-height" ng-if="check.Items.length > 0">
                    <table class="table table-borderless text-white item-table">
                        <thead>
                            <tr>
                                <th class="text-nowrap" ng-click="changeOrder('Name', itemCollection)">
                                    <i class="bi bi-box"></i>
                                    @Html.DisplayNameFor(model => model.Checks.First().Items.First().Name)
                                    <i class="bi bi-funnel-fill ps-1"
                                       ng-class="getIcon('Name', itemCollection)">
                                    </i>
                                </th>
                                <th class="text-nowrap" ng-click="changeOrder('Description', itemCollection)">
                                    <i class="bi bi-alphabet"></i>
                                    @Html.DisplayNameFor(model => model.Checks.First().Items.First().Description)
                                    <i class="bi bi-funnel-fill ps-1"
                                       ng-class="getIcon('Description', itemCollection)">
                                    </i>
                                </th>
                                <th class="text-nowrap" ng-click="changeOrder('Price', itemCollection)">
                                    <i class="bi bi-coin"></i>
                                    @Html.DisplayNameFor(model => model.Checks.First().Items.First().Price)
                                    <i class="bi bi-funnel-fill ps-1"
                                       ng-class="getIcon('Price', itemCollection)">
                                    </i>
                                </th>
                                <th class="text-nowrap" ng-click="changeOrder('Users', itemCollection)">
                                    <i class="bi bi-people-fill"></i>
                                    @Html.DisplayNameFor(model => model.Checks.First().Items.First().Users)
                                    <i class="bi bi-funnel-fill ps-1"
                                       ng-class="getIcon('Users', itemCollection)">
                                    </i>
                                </th>
                                <th width="120px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in itemCollection.pagedItems[itemCollection.currentPage]" style="height: 60px;">
                                <td class="text-nowrap">
                                    {{item.Name}}
                                </td>
                                <td class="text-nowrap">
                                    {{item.Description}}
                                </td>
                                <td class="text-nowrap">
                                    {{item.Price | currency : '₴'}}
                                </td>
                                <td class="text-nowrap">
                                    <div class="mytooltip">
                                        {{item.UsersList.length}} people
                                        <span class="tooltiptext" style="height:110px;">
                                            <i class="bi bi-people-fill pe-1"></i>Users:<br />
                                            <div ng-repeat="user in item.UsersList | limitTo:3" class="text-truncate">
                                                <i class="bi bi-person-fill pe-1"></i>{{user}}<br />
                                            </div>
                                            <div ng-if="item.UsersList.length > 3">
                                                and {{item.UsersList.length - 3}} more
                                            </div>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                ng-click="showModalForItemEdit(item.Id, check.DayExpensesId)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop"
                                                ng-click="showModalForItemDelete(item.Id, check.DayExpensesId)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-center py-2 pe-4" ng-if="check.Items.length > 0">
                    <ul class="pagination overflow-auto d-flex align-items-center text-nowrap pb-2">
                        <li class="page-item text-nowrap" ng-class="{disabled: itemCollection.currentPage == 0}">
                            <a class="page-link bg-transparent border border-dark" href ng-click="prevPage(itemCollection)">« Previous</a>
                        </li>
                        <li class="page-item" ng-repeat="n in range(itemCollection.pagedItems.length)"
                            ng-class="{active: n == itemCollection.currentPage}"
                            ng-click="setPage(n, itemCollection)">
                            <a class="page-link bg-transparent border border-dark" href ng-bind="n + 1">1</a>
                        </li>
                        <li class="page-item text-nowrap" ng-class="{disabled: itemCollection.currentPage == itemCollection.pagedItems.length - 1}">
                            <a class="page-link bg-transparent border border-dark" href ng-click="nextPage(itemCollection)">Next »</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </td>
</tr>
