@model IEnumerable<DayExpenses>

@{
    ViewData["Title"] = "Expenses List";
}

<link href="~/css/mytooltip.css" rel="stylesheet" />
<link href="~/css/reduce-content-size.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/modalviews/day-expenses-modal-views.js"></script>

<div class="rounded m-3 m-sm-5 dark-blue-1" ng-controller="DayExpensesCtrl">
    <div class="container-fluid px-3 py-2 text-white"> 
        <h4>Expenses List</h4>
        <br />

        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                onclick="showModalForDayExpensesCreate()">
            <i class="bi bi-plus-circle"></i> Add expenses
        </button>

    </div>
    <div class="d-flex justify-content-end pb-lg-2 p-3">
        <div class="col-12 col-lg-3">
            <div class="input-group">
                <span class="input-group-text bi bi-search bg-transparent text-white" id="basic-addon1"></span>
                <input ng-model="searchText" class="form-control bg-transparent text-white" type="search" aria-describedby="basic-addon1" placeholder="Search for..." />
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-borderless text-white" id="daysTable">
            <thead>
                <tr>
                    <th class="text-nowrap" ng-click="changeOrder('date')">
                        <i class="bi bi-calendar-event pe-1"></i>
                        @Html.DisplayNameFor(model => model.Date)
                        <i class="bi bi-funnel-fill ps-1"
                            ng-class="getIcon('date')">
                        </i>
                    </th>
                    <th class="text-nowrap" ng-click="changeOrder('participants')">
                        <i class="bi bi-people-fill pe-1"></i>
                        @Html.DisplayNameFor(model => model.Participants)
                        <i class="bi-funnel-fill ps-1"
                           ng-class="getIcon('participants')">
                        </i>
                    </th>
                    <th width="250"></th>
                </tr>
            </thead>
            <tbody ng-init="days">
                <tr ng-repeat="day in days | orderBy: sort.active:sort.descending | filter:search" style="height: 60px;">
                    <td class="text-nowrap">
                        {{day.date}}
                    </td>
                    <td class="text-nowrap">
                        <div class="mytooltip">
                            <label>{{day.participantsList.length}} people</label>
                            <span class="center-tooltiptext">
                                Participants:
                                <ul>
                                    <li ng-repeat="participant in day.participantsList">{{participant}}</li>
                                </ul>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
                                ng-click="showModalForDayExpensesShare(day.id)">
                                <i class="bi bi-share"></i>
                            </button>
                            <a role="button" class="btn btn-info" href="/DayExpenses/ShowChecks/{{day.id}}">
                                <i class="bi bi-list-check"></i>
                            </a>
                            <a role="button" class="btn btn-primary" href="/DayExpenses/CalculateExpenses/{{day.id}}">
                                <i class="bi bi-calculator"></i>
                            </a>
                            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                ng-click="showModalForDayExpensesEdit(day.id)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                ng-click="showModalForDayExpensesDelete(day.id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
