@using Microsoft.AspNetCore.Identity
@using ExpensesCalculator.Extensions;

<ul class="navbar-nav align-items-center">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <button class="btn nav-link" style="height: 40px;">
                <img src="@Url.Content("~/images/gb.svg")" alt="English - eng" width="30">
            </button>      
        </li>
        <li class="nav-item" inert>
            <a id="manage" class="nav-link text-white" style="height: 40px;">
                <img class="rounded-circle" width="30" alt="avatar1" src="@Url.Content("~/images/default-profile-account-image.jpg")" />
                @User.GetUserName()
            </a>
        </li>
        <li class="nav-item">
            <form asp-controller="user" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn text-white" style="height: 40px;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="user"
               asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="user"
               asp-action="LoginWithUsername">Login</a>
        </li>
    }
</ul>
