@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="rounded mx-5 my-4" style="background: #0b1739">
    <div class="container-fluid p-3 text-white">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </header>
    </div>
</div>
