@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-5 text-center text-white" style="background: #080f27">
    <h1 class="fw-bolder">Welcome to ExpensesCalculator</h1>
    <p class="lead">Distribute expenses among party participants based on their consumption.</p>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <h2>About this page</h2>
        <p class="lead">This page is including some instructions what your can do with this website.</p>
    </div>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <p class="lead">1. Choose "My expenses list" tab</p>
    </div>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <p class="lead">2. Press "Add expenses" button and input the required data</p>
    </div>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <p class="lead">3. Press the blue button with the list icon on it</p>
    </div>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <p class="lead">4. On the next screen add checks that uses for grouping items</p>
    </div>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <p class="lead">5. Open according check and add items of this check</p>
    </div>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <p class="lead">6. Use edit and delete buttons to change data if something went wrong. Also you can click "Share" button
            to share your calculation with other people on this website.
        </p>
    </div>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <p class="lead">7. Press the "Calculate" button to calculate your expenses between participants.</p>
    </div>
</div>
<div class="py-5 text-white" style="background: #080f27">
    <div class="rounded p-5 m-5" style="background: #0b1739">
        <p class="lead">8. Switch between tabs to see how much every participant spend on the party. On the "Transaction list" 
            tab you can see what every participant owes money for people who payed for the party.
        </p>
    </div>
</div>
<footer class="py-4 bg-black">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright © ExpensesCalculator 2024</p></div>
</footer>