@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="rounded mx-5 my-4" style="background: #0b1739">
    <div class="container-fluid p-3 text-white">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
