@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="rounded mx-5 my-4" style="background: #0b1739">
    <div class="container-fluid p-3 text-white">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">This account has been locked out, please try again later.</p>
        </header>
    </div>
</div>
