@model Item

<link href="~/css/single-line-text.css" rel="stylesheet" />

<script src="~/js/ajax/items/add-item.js"></script>
<script src="~/js/multiselect-dropdown.js"></script>

<div class="modal-header">
    <h5 class="modal-title">Add item</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" id="name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" id="description"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" id="price"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 dropdown">
            <label asp-for="UsersList" class="control-label"></label>
            <button class="btn btn-outline-dark dropdown-toggle w-100 text single-line" type="button" style="text-align: left;"
                    id="multiSelectDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"> Select users
            </button>
            <ul class="dropdown-menu w-100 text single-line" aria-labelledby="multiSelectDropdown">
                @foreach (var participant in ViewData["Participants"] as MultiSelectList)
                {
                    <li class="dropdown-item w-100">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"
                                   value=@participant.Value>
                            @participant.Text
                        </label>
                    </li>
                }
            </ul>
            <span asp-validation-for="UsersList" class="text-danger"></span>
        </div>
        <button type="button" value="Create" class="btn btn-success" id="createButton">
            <i class="bi bi-plus-circle"></i> Add item
        </button>
    </form>
</div>

<script>
    var token = '@Html.AntiForgeryToken()';
    var checkId = @ViewData["CheckId"];
    var dayExpensesId = @ViewData["DayExpensesId"]; 
    var mySelectedItems = [];
</script>
