html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.link-button {
    display: inline;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    color: blue;
    -webkit-appearance: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td {
    vertical-align: middle !important;
}