@model Check

<td id="checkItemList-@Model.Id" colspan="6">
    <div class="collapse" id="check-@Model.Id">
        <div class="container-fluid p-3 text-white">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    onclick="showModalForItemCreate(@Model.Id, @Model.DayExpensesId)">
                <i class="bi bi-plus-circle"></i> Add item
            </button>
        </div>
        <table class="table table-borderless text-white item-table">
            <thead>
                <tr>
                    <th class="text-nowrap">
                        <i class="bi bi-box"></i>
                        
                    </th>
                    <th class="text-nowrap">
                        <i class="bi bi-alphabet"></i>
                        
                    </th>
                    <th class="text-nowrap">
                        <i class="bi bi-coin"></i>
                        
                    </th>
                    <th class="text-nowrap">
                        <i class="bi bi-people-fill"></i>
                        
                    </th>
                    <th width="120px"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <hr />
    </div>
</td>
<input type="hidden" id="check-@Model.Id-NewSum" value="@Model.Id₴" />
