<div class="px-3 px-lg-5 my-lg-3">
    <div class="rounded p-lg-5 p-4 dark-blue-1">
        <div class="mx-lg-auto col-lg-10" ng-controller="UserController">
            <h1 class="text-white">Create a new account</h1>
            <br />
            <form name="registerForm">
                <div class="mb-4 input-group-lg">
                    <input class="form-control" type="email" name="email" ng-model="user.email" ng-required="true" placeholder="Email" />
                    <div ng-show="registerForm.email.$touched && registerForm.email.$invalid">
                        <small style="color:red;display:block;">Enter a valid email</small>
                    </div>
                </div>
                <div class="mb-4 input-group-lg">
                    <input class="form-control" name="username" ng-model="user.username"
                           ng-required="true" placeholder="Username" />
                    <div ng-show="registerForm.username.$touched && registerForm.username.$invalid">
                        <small style="color:red;display:block;">Enter a valid username</small>
                    </div>
                </div>
                <div class="mb-4 input-group-lg">
                    <input type="password" class="form-control" name="password" ng-model="user.password" ng-required="true" placeholder="Password" />
                    <div ng-show="registerForm.password.$touched && registerForm.password.$invalid">
                        <small style="color:red;display:block;">Enter a valid password</small>
                    </div>
                </div>
                <div class="mb-4 input-group-lg">
                    <input type="password" class="form-control" name="confirmPassword" ng-model="user.confirmPassword" ng-required="true" placeholder="Confirm" />
                    <div ng-show="registerForm.confirmPassword.$touched && registerForm.confirmPassword.$invalid 
                        || (registerForm.confirmPassword.$touched && (registerForm.password.$modelValue != registerForm.confirmPassword.$modelValue))">
                        <small style="color:red;display:block;">Password and confirm password do not mactch</small>
                    </div>
                </div>
                <button class="w-100 btn btn-lg btn-primary" ng-disabled="registerForm.$invalid 
                    || (registerForm.password.$modelValue != registerForm.confirmPassword.$modelValue)"
                    ng-click="register()">Register</button>
            </form>
        </div>
    </div>
</div>
