<div class="d-flex sticky-top flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-sm-start mx-0" id="menu">     
        <li class="nav-item fs-5">
            <a class="d-flex align-items-center mb-md-0 me-auto text-white text-decoration-none"
               style="user-select: none; font-family: Impact, cursive;" routerLink="/">
                <i class="bi-calculator"></i> <span class="d-none d-sm-inline">ExpensesCalculator</span>
            </a>
        </li>
        <hr class="w-100" style="border-color: rgba(255,255,255,0.1); opacity: 1;" />
        <li class="nav-item fs-5">
            <a class="nav-link text-white align-middle px-0" routerLink="/">
                <i class="bi-house"></i> <span class="ms-2 d-none d-sm-inline">{{ 'SIDEBAR.GET_STARTED' | translate }}</span>
            </a>
        </li>
        <li class="nav-item fs-5">
            <a class="nav-link text-white align-middle px-0" routerLink="/day-expenses">
                <i class="bi-list-nested"></i> <span class="ms-2 d-none d-sm-inline">{{ 'SIDEBAR.MY_EXPENSES' | translate }}</span>
            </a>
        </li>
        <li class="nav-item fs-5">
            <a class="nav-link text-white align-middle px-0" routerLink="/recommendations">
                <i class="bi-lightbulb"></i> <span class="ms-2 d-none d-sm-inline">{{ 'SIDEBAR.RECOMMENDATIONS' | translate }}</span>
            </a>
        </li>
        <li style="width: fit-content" class="nav-item fixed-bottom ms-3 mb-2">
            <a class="nav-link text-white align-middle px-0 text-decoration-none fs-4" href="https://github.com/OleksPal/ExpensesCalculator"
               target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i> <span class="ms-2 d-none d-sm-inline">{{ 'SIDEBAR.GITHUB' | translate }}</span>
            </a>
        </li>
    </ul>
</div>