<div>
    <app-scroll-top></app-scroll-top>
    <div class="text-white text-center dark-blue-0">
        <div class="container py-5">
            <h1 class="fw-bolder">
                {{ 'HOME.WELCOME' | translate }}
            </h1>
            <p class="lead">
                {{ 'HOME.DESCRIPTION' | translate }}
            </p>
        </div>
        <div class="py-5 px-3 px-lg-5 my-lg-5">
            <div class="rounded p-5 dark-blue-1">
                <h2>
                    {{ 'HOME.ABOUT' | translate }}
                </h2>
                <p class="lead">
                    {{ 'HOME.ABOUT_DESCRIPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="py-5 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/1-my-expenses-list-button.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_1' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="py-4 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/2-add-expenses-button.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_2' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="py-4 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/3-show-checks-button.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_3' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="py-4 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/4-add-check-button.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_4' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="py-4 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/5-add-item-button.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_5' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="py-4 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/6-edit-and-delete-buttons.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_6' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="py-4 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/7-calculate-button.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_7' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="py-4 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/8-expenses-calculation-participant-tab.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_8' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="pt-4 px-3 px-lg-5 my-lg-5 justify-content-center">
            <div class="card border-primary dark-blue-1 text-white">
                <img src="/images/9-expenses-calculation-transaction-list-tab.jpg" class="card-img-top">
                <div class="card-body" style="border-top: 1px solid rgba(255,255,255,0.1);">
                    <p class="card-text">
                        {{ 'HOME.STEP_9' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>
