<div class="rounded mx-5 mb-4 col-10 col-sm-8 mx-auto dark-blue-1">
    <div class="container-fluid p-3 text-white">
        <h1>{{ 'REGISTER.TITLE' | translate }}</h1>
        <div class="row">
            <form (ngSubmit)="register()">
                <h3>{{ 'REGISTER.SUBTITLE' | translate }}</h3>
                <hr />
                <div class="form-floating mb-3">
                    <input [(ngModel)]="userName" name="userName" class="form-control" />
                    <label class="form-label text-black">{{ 'REGISTER.USERNAME' | translate }}</label>
                </div>
                <div class="form-floating mb-3">
                    <input [(ngModel)]="password" name="password" type="password" class="form-control" />
                    <label class="form-label text-black">{{ 'REGISTER.PASSWORD' | translate }}</label>
                </div>
                <div class="form-floating mb-3">
                    <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" class="form-control" />
                    <label class="form-label text-black">{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</label>
                </div>
                <ul class="ps-4">
                    <li *ngFor="let error of errors" class="text-danger">
                        {{ error.description }}
                    </li>
                </ul>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">{{ 'REGISTER.SUBMIT' | translate }}</button>
            </form>
        </div>
    </div>
</div>
