ul {
    padding: 0px;
    margin: 0 0 0 20px;
}

.mytooltip {
    position: relative;
    display: inline-block;
}

    .mytooltip .left-tooltiptext {
        font-size: 14px;
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 110%;
    }

        .mytooltip .left-tooltiptext::after {
            content: " ";
            position: absolute;
            top: 12%;
            left: 100%; /* To the right of the tooltip */
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent black;
        }

    .mytooltip .top-tooltiptext, .mytooltip .center-tooltiptext {
        font-size: 14px;
        visibility: hidden;
        min-width: 120px;
        max-width: 250px;
        width: fit-content;
        background-color: black;
        color: #fff;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        margin-left: -50%;
    }

        .mytooltip .top-tooltiptext::after, .mytooltip .center-tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 10px;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    .mytooltip .center-tooltiptext {
        left: 0px;
    }

        .mytooltip .center-tooltiptext::after {
            left: 50%;
        }    

    .mytooltip:hover .left-tooltiptext, .mytooltip:hover .top-tooltiptext, .mytooltip:hover .center-tooltiptext {
        visibility: visible;
    }
