﻿ul {
    padding: 0px;
    margin: 0 0 0 20px;
}

.mytooltip {
    position: relative;
    display: inline-block;
}

    .mytooltip .tooltiptext {
        font-size: 14px;
        visibility: hidden;
        text-align: start;
        padding: 5px 0 0 5px;
        width: 150px;
        height: 100px;
        background-color: black;
        color: #fff;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 120%;
        left: 100%;
        margin-left: -60px;
    }

        .mytooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 10%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    .mytooltip:hover .tooltiptext {
        visibility: visible;
    }
