html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.link-button {
    display: inline;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    color: blue;
    -webkit-appearance: none;
}

html {
  position: relative;
  min-height: 100%;
}

th {
    cursor: pointer;
    user-select: none;
}

td {
    vertical-align: middle !important;
}

.table tr:nth-child(odd) td {
    background: #0a1330 !important;
}

.table tr > *:nth-child(1) {
    padding-left: 20px;
}

.check-table tr:nth-child(n) td {
    background: #0b1739 !important;
}

.check-table tr:nth-child(4n + 1) td {
    background: #0a1330 !important;
}

.item-table tr:nth-child(odd) td {
    background: #0b1739 !important;
}

.item-table tr:nth-child(even) td {
    background: #0a1330 !important;
}

.tab .tablinks:hover {
    background: dodgerblue !important;
}

.tab .tablinks.active {
    background: mediumblue !important;
}

button:focus, a:focus, input:focus {
    box-shadow: none !important;
}

.pagination {
    user-select: none;
}

.fix-table-height {
    height: 360px;
    overflow-y: auto;
}